@import 'react-toastify/dist/ReactToastify.css';
@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
    scroll-behavior: smooth;
    scroll-padding-top: 82px;
  }
}